# Movie Recommendation systems

# Importing Required Libraries and datasets

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 1000)

## 01. Credits

In [3]:
credits = pd.read_csv('data/credits.csv')

credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

## 02. Keywords

In [4]:
keywords = pd.read_csv('data/keywords.csv')

keywords.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

## 03. links

In [5]:
links = pd.read_csv('data/links.csv')

links.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

## 04. links small

In [6]:
links_small = pd.read_csv('data/links_small.csv')

links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

## 05. ratings_small

In [7]:
ratings_small = pd.read_csv('data/ratings_small.csv')

ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

## 06. movies_meta

In [8]:
movies_meta = pd.read_csv('data/movies_metadata.csv')

movies_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# we'll try to simplify the following columns into one data frame

### 1. we can observe that ***credits and keywords*** id are same lets merge into one.

In [9]:
print('credits shape',credits.shape)
print('keywords shape',keywords.shape)

credits shape (45476, 3)
keywords shape (46419, 2)

In [10]:
credits  = credits.merge(keywords, on = 'id')

credits.head(2)

,cast,crew,id,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [11]:
print('credits shape',credits.shape)

credits shape (46496, 4)

### 2. lets ignore ***links_small*** data frame

In [12]:
print('links shape',links.shape)
print('links small shape',links_small.shape)

links shape (45843, 3)
links small shape (9125, 3)

### 3. ***Ratings_small*** and ***links*** linking on movie id

In [13]:
print('links shape',links.shape)
print('ratings small shape',ratings_small.shape)

links shape (45843, 3)
ratings small shape (100004, 4)

In [14]:
links  = links.merge(ratings_small, on = 'movieId')

links.head(2)

   movieId  imdbId  tmdbId  userId  rating  timestamp
0        1  114709   862.0       7     3.0  851866703
1        1  114709   862.0       9     4.0  938629179

In [15]:
links.shape

(99958, 6)

### 4. ***Links*** and ***credits*** have same column id and tmdbid.

In [16]:
print('links shape',links.shape)
print('credits shape',credits.shape)

links shape (99958, 6)
credits shape (46496, 4)

In [17]:
links.rename(columns = {'tmdbId':'id'}, inplace = True)

In [18]:
links  = credits.merge(links, on = 'id')

links.head(2)

,cast,crew,id,keywords,movieId,imdbId,userId,rating,timestamp
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,7,3.0,851866703
1,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,9,4.0,938629179

In [19]:
links.shape

(99962, 9)

In [20]:
links.head()

,cast,crew,id,keywords,movieId,imdbId,userId,rating,timestamp
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,7,3.0,851866703
1,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,9,4.0,938629179
2,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,13,5.0,1331380058
3,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,15,2.0,997938310
4,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,19,3.0,855190091

### 5. ***Credits*** and ***movies_meta*** into one table based on id

In [21]:
movies_meta = movies_meta.drop([29503,35587,19730])

In [22]:
movies_meta['id'] = movies_meta['id'].astype('int64')

In [23]:
movies_meta = movies_meta.merge(links,on='id')

In [24]:
movies_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100122 entries, 0 to 100121
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  100122 non-null  object
 1   belongs_to_collection  31280 non-null   object
 2   budget                 100122 non-null  object
 3   genres                 100122 non-null  object
 4   homepage               28323 non-null   object
 5   id                     100122 non-null  int64
 6   imdb_id                100122 non-null  object
 7   original_language      100122 non-null  object
 8   original_title         100122 non-null  object
 9   overview               100108 non-null  object
 10  popularity             100122 non-null  object
 11  poster_path            100116 non-null  object
 12  production_companies   100122 non-null  object
 13  production_countries   100122 non-null  object
 14  release_date           100122 non-null  object
 15  revenue                100122 non-null  float64
 16  runtime                100122 non-null  float64
 17  spoken_languages       100122 non-null  object
 18  status                 100113 non-null  object
 19  tagline                92158 non-null   object
 20  title                  100122 non-null  object
 21  video                  100122 non-null  object
 22  vote_average           100122 non-null  float64
 23  vote_count             100122 non-null  float64
 24  cast                   100122 non-null  object
 25  crew                   100122 non-null  object
 26  keywords               100122 non-null  object
 27  movieId                100122 non-null  int64
 28  imdbId                 100122 non-null  int64
 29  userId                 100122 non-null  int64
 30  rating                 100122 non-null  float64
 31  timestamp              100122 non-null  int64
dtypes: float64(5), int64(5), object(22)
memory usage: 25.2+ MB

In [25]:
movies_meta.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,userId,rating,timestamp
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,7,3.0,851866703
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,9,4.0,938629179
2,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,13,5.0,1331380058

## lets drop and Rearrange the columns in df

In [26]:
movies_meta.duplicated().sum()

244

In [27]:
df = movies_meta.drop_duplicates()

df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,userId,rating,timestamp
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,7,3.0,851866703
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,9,4.0,938629179
2,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,114709,13,5.0,1331380058

lets drop the following columns 
1. adult
2. belongs_to_collection
3. homepage
4. imdb_id
5. original_language
6. original_title
7. poster_path
8. production_countries
9. release_date
10. status
11. tagline
12. video
13. movieId	
14. imdbId
15. userId
16. timestamp

In [28]:
df = df.drop(['adult',
              'belongs_to_collection',
              'homepage',
              'imdb_id',
              'original_language',
              'original_title',
              'poster_path',
              'production_countries',
              'release_date',
              'status',
              'tagline',
              'video',
              'movieId',
              'imdbId',
              'userId',
              'timestamp'], axis=1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99878 entries, 0 to 100121
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                99878 non-null  object
 1   genres                99878 non-null  object
 2   id                    99878 non-null  int64
 3   overview              99864 non-null  object
 4   popularity            99878 non-null  object
 5   production_companies  99878 non-null  object
 6   revenue               99878 non-null  float64
 7   runtime               99878 non-null  float64
 8   spoken_languages      99878 non-null  object
 9   title                 99878 non-null  object
 10  vote_average          99878 non-null  float64
 11  vote_count            99878 non-null  float64
 12  cast                  99878 non-null  object
 13  crew                  99878 non-null  object
 14  keywords              99878 non-null  object
 15  rating                99878 non-null  float64
dtypes: float64(5), int64(1), object(10)
memory usage: 13.0+ MB

In [30]:
df = df[['id','title','genres','overview','rating','spoken_languages','cast','crew','vote_average','vote_count','popularity','budget','keywords','production_companies','revenue','runtime']]

df.head(3)

,id,title,genres,overview,rating,spoken_languages,cast,crew,vote_average,vote_count,popularity,budget,keywords,production_companies,revenue,runtime
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",3.0,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",7.7,5415.0,21.946943,30000000,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'name': 'Pixar Animation Studios', 'id': 3}]",373554033.0,81.0
1,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",4.0,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",7.7,5415.0,21.946943,30000000,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'name': 'Pixar Animation Studios', 'id': 3}]",373554033.0,81.0
2,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",5.0,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",7.7,5415.0,21.946943,30000000,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'name': 'Pixar Animation Studios', 'id': 3}]",373554033.0,81.0

# DataFrame Cleaning

In [31]:
df.shape

(99878, 16)

In [32]:
df.duplicated().sum()

71255

In [33]:
df = df.drop_duplicates()

df.shape

(28623, 16)

In [34]:
df.isnull().sum()

id                       0
title                    0
genres                   0
overview                13
rating                   0
spoken_languages         0
cast                     0
crew                     0
vote_average             0
vote_count               0
popularity               0
budget                   0
keywords                 0
production_companies     0
revenue                  0
runtime                  0
dtype: int64

In [35]:
df.dropna(inplace=True)

In [36]:
df.shape

(28610, 16)

#### Genres

In [41]:
import ast

def genre_convert(data):
    genre = []
    for i in ast.literal_eval(data):
        genre.append(i['name'])
    return genre

In [42]:
df['genres'] = df['genres'].apply(genre_convert)

#### keywords

In [43]:
def name_convert(data):
    keywords = []
    for i in ast.literal_eval(data):
        keywords.append(i['name'])
    return keywords

In [44]:
df['keywords'] = df['keywords'].apply(name_convert)

#### Cast

In [45]:
def cast_names(data):
    actors = []
    counter = 0
    for i in ast.literal_eval(data):
        if counter != 3:
            actors.append(i['name'])
            counter += 1
    return actors

In [46]:
df['cast'] = df['cast'].apply(cast_names)

#### Crew

In [47]:
def crew_names(data):
    director = []
    for i in ast.literal_eval(data):
        if i['job'] == "Director":
            director.append(i['name'])
            break
    return director

In [48]:
df['crew'] = df['crew'].apply(crew_names)

#### spoken_languages

In [49]:
def spoken_lang(data):
    keywords = []
    for i in ast.literal_eval(data):
        keywords.append(i['name'])
    return keywords

In [50]:
df['spoken_languages'] = df['spoken_languages'].apply(spoken_lang)

### Production company

In [51]:
def production_companies(data):
    production_companies = []
    for i in ast.literal_eval(data):
        production_companies.append(i['name'])
    return production_companies

In [52]:
def Prod_company(data):
    production_companies = []
    for i in ast.literal_eval(data):
        production_companies.append(i['name'])
    return production_companies

In [53]:
df['production_companies'] = df['production_companies'].apply(production_companies)

In [54]:
df['genres'] = df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
df['cast'] = df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df['crew'] = df['crew'].apply(lambda x:[i.replace(" ","") for i in x])
df['keywords'] = df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [55]:
df['genres'] = df['genres'].apply(lambda x:" ".join(x))
df['cast'] = df['cast'].apply(lambda x:" ".join(x))
df['crew'] = df['crew'].apply(lambda x:" ".join(x))
df['keywords'] = df['keywords'].apply(lambda x:" ".join(x))
df['spoken_languages'] = df['spoken_languages'].apply(lambda x:" ".join(x))
df['production_companies'] = df['production_companies'].apply(lambda x:" ".join(x))

In [56]:
df.head(2)

,id,title,genres,overview,rating,spoken_languages,cast,crew,vote_average,vote_count,popularity,budget,keywords,production_companies,revenue,runtime
0,862,Toy Story,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",3.0,English,TomHanks TimAllen DonRickles,JohnLasseter,7.7,5415.0,21.946943,30000000,jealousy toy boy friendship friends rivalry bo...,Pixar Animation Studios,373554033.0,81.0
1,862,Toy Story,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",4.0,English,TomHanks TimAllen DonRickles,JohnLasseter,7.7,5415.0,21.946943,30000000,jealousy toy boy friendship friends rivalry bo...,Pixar Animation Studios,373554033.0,81.0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28610 entries, 0 to 100121
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    28610 non-null  int64
 1   title                 28610 non-null  object
 2   genres                28610 non-null  object
 3   overview              28610 non-null  object
 4   rating                28610 non-null  float64
 5   spoken_languages      28610 non-null  object
 6   cast                  28610 non-null  object
 7   crew                  28610 non-null  object
 8   vote_average          28610 non-null  float64
 9   vote_count            28610 non-null  float64
 10  popularity            28610 non-null  object
 11  budget                28610 non-null  object
 12  keywords              28610 non-null  object
 13  production_companies  28610 non-null  object
 14  revenue               28610 non-null  float64
 15  runtime               28610 non-null  float64
dtypes: float64(5), int64(1), object(10)
memory usage: 3.7+ MB

In [58]:
df.to_csv(r'C:\Users\dell\Data Science\Internship\03. Projects\2. Recoomendation systems\movies.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\dell\\Data Science\\Internship\\03. Projects\\2. Recoomendation systems\\movies.csv'